.body{
    margin: 0;
}
.header{
    display: flex;
    justify-content: center;

}

.subheadcont{
    display: flex;
    justify-content: center;
}

.subhead{
    display: flex;
    margin-right: 25px;
}
.edhead{
    margin: 5px
}
.edcont{
    display: grid;
    
}


.expcont{
    display: flex; 
    justify-content: left;
}
.exptxt{
    display: left;
}

.tiny{
    margin-top: -2px;;
    
}